axe{
    position:relative;
}

.axePrevention {
    background-color: @color-prevention;
    border-bottom: solid 1px @color-prevention-dark;    
}

.axeRecherche {
    background-color: @color-recherche;
    border-bottom: solid 1px @color-recherche-dark;
}

.axeFormation {
    background-color: @color-formation;
    border-bottom: solid 1px @color-formation-dark;
}

.prevention.post .axePrevention,
.recherche.post .axeRecherche,
.formation.post .axeFormation {
    margin: 0;    
}


.axePrevention,
.axeRecherche,
.axeFormation{
    color: white;
    padding: 25px;
    vertical-align: top;
    cursor: pointer;
}

.axePrevention-detail,
.axeRecherche-detail,
.axeFormation-detail{
    text-align: left;
    margin-top: 20px;
}

.axePrevention-detail {
    text-shadow: 1px 1px 1px @color-prevention-text-shadow;
}

.axeRecherche-detail {
    text-shadow: 1px 1px 1px @color-recherche-text-shadow;
}

.axeFormation-detail {
    text-shadow: 1px 1px 1px @color-formation-text-shadow;
}

.prevention .axePrevention-detail,
.recherche .axeRecherche-detail,
.formation .axeFormation-detail {
    width: 50%;
    display: inline-block;
} 

.axePrevention-image {
    fill: @color-prevention-dark;    
}


.axeRecherche-image {
    fill: @color-recherche-dark;
}

.axeFormation-image {
    fill: @color-formation-dark;
}

.axePrevention-image,
.axeRecherche-image,
.axeFormation-image {
    height: 70px;
}

.axePrevention-titre,
.axeRecherche-titre {
    margin-left: -20px;
}

.axePrevention-titre,
.axeRecherche-titre,
.axeFormation-titre{
    display: none;
}

.accueil .axePrevention-titre,
.accueil .axeRecherche-titre,
.accueil .axeFormation-titre{
    font-size: 30px;
    font-variant: small-caps;
    display: inline-block;
}