axe{
    position:relative;
}

.axePrevention,
.axeRecherche,
.axeFormation {
    position: relative;
}

.axePrevention {
    background-color: @color-prevention;
    border-bottom: solid 1px @color-prevention-dark;    
}

.axeRecherche {
    background-color: @color-recherche;
    border-bottom: solid 1px @color-recherche-dark;
}

.axeFormation {
    background-color: @color-formation;
    border-bottom: solid 1px @color-formation-dark;
}

.bodyHeader {
    background-color: @color-bodyHeader;
    border-bottom: solid 1px @color-bodyHeader-dark;
}

.prevention .axePrevention,
.recherche .axeRecherche,
.formation .axeFormation {
    padding-bottom: 5px;    
}

.body-header,
.axePrevention,
.axeRecherche,
.axeFormation{
    color: white;
    padding: 0 25px;
    vertical-align: top;
    cursor: pointer;
}


.axePrevention-detail,
.axeRecherche-detail,
.axeFormation-detail{
    display: none;
    text-align: left;
    margin-top: 20px;
}

.axePrevention-detail {
    text-shadow: 1px 1px 1px @color-prevention-text-shadow;
}

.axeRecherche-detail {
    text-shadow: 1px 1px 1px @color-recherche-text-shadow;
}

.axeFormation-detail {
    text-shadow: 1px 1px 1px @color-formation-text-shadow;
}

.prevention .axePrevention-detail,
.recherche .axeRecherche-detail,
.formation .axeFormation-detail {
    width: 70%;
    display: inline-block;
} 

.axePrevention-image {
    fill: @color-prevention-dark;    
}


.axeRecherche-image {
    fill: @color-recherche-dark;
}

.axeFormation-image {
    fill: @color-formation-dark;
}

.axePrevention-image,
.axeRecherche-image,
.axeFormation-image {
    height: 50px;
}

.axePrevention-titre,
.axeRecherche-titre,
.axeFormation-titre{    
    display: none;
}

.accueil .axePrevention-titre,
.accueil .axeRecherche-titre,
.accueil .axeFormation-titre{
    font-size: 30px;
    font-variant: small-caps;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
}