.logo-container {
    position: relative;
    left: 180px;
}

.logo {
    position: absolute;
    height: 40px;    
    margin-left: 10px;
    margin-top: 10px;
}

.logo-texte {
    position: absolute;
    margin-left: 55px;
    line-height: 3.5rem;
    height: 9px;
    fill: @color-bodyHeader;
}

.logo-prevention {
    fill: @color-prevention;
}

.logo-recherche {
    fill: @color-recherche;    
}

.logo-formation {
    fill: @color-formation;    
}