.nav {
	background-color: white;
	border-bottom: solid 1px @color-article-border;
	line-height: 2.5rem;
	color: @color-article-border;
}

.nav--block {
	position: relative;
	top: 0;
	transition: top 500ms ease-in-out 0s	
}

.nav--hidden {
	position: absolute;
	width: 100%;	
	top: -300px;
}


.nav-accueil,
.nav-quiSommesNous {
	border-bottom: 3px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
}

.nav-accueil:hover,
.nav-accueil--active,
.nav-contact:hover,
.nav-contact--active,
.nav-quiSommesNous:hover,
.nav-quiSommesNous--active {
	border-bottom: solid 3px @color-font-primary;
	color: @color-font-primary;	
}

.nav-prevention {
	border-bottom: 3px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
	
}

.nav-prevention:hover,
.nav-prevention--active {
	border-bottom: solid 3px @color-prevention;
	color: @color-font-primary;	
}

.nav-recherche {
	border-bottom: 3px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-recherche:hover,
.nav-recherche--active {
	border-bottom: solid 3px @color-recherche;
	color: @color-font-primary;	
}

.nav-formation {
	border-bottom: 3px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-formation:hover,
.nav-formation--active {
	border-bottom: solid 3px @color-formation;
	color: @color-font-primary;	
}