.nav {
	text-align: center;
	background-color: white;
	border-bottom: solid 1px hsl(0, 0%, 70%);
	line-height: 3.5rem;
	color: hsl(0, 0%, 70%);
	display: flex;
	flex-direction: row;
}

.nav-item {
	flex: 0 0 auto;
	width: 25%; 
}

.nav-accueil {
	padding-bottom: 15px;
}

.nav-accueil:hover,
.nav-accueil--active {
	border-bottom: solid 3px hsl(0, 0%, 20%);
	color: hsl(0, 0%, 20%);	
}

.nav-prevention {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
	
}

.nav-prevention:hover,
.nav-prevention--active {
	border-bottom: solid 3px #85B2CA;
	color: hsl(0, 0%, 20%);	
}

.nav-recherche {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-recherche:hover,
.nav-recherche--active {
	border-bottom: solid 3px #B0A1CD;
	color: hsl(0, 0%, 20%);	
}

.nav-formation {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-formation:hover,
.nav-formation--active {
	border-bottom: solid 3px #ED6DA2;
	color: hsla(0, 0%, 0%, .7);	
}