.nav {
	text-align: center;
	background-color: white;
	border-bottom: solid 1px @color-article-border;
	line-height: 3.5rem;
	color: @color-article-border;
	display: flex;
	flex-direction: row;
}

.nav-item {
	flex: 0 0 auto;
	width: 25%; 
}

.nav-accueil {
	padding-bottom: 15px;
}

.nav-accueil:hover,
.nav-accueil--active {
	border-bottom: solid 3px @color-font-primary;
	color: @color-font-primary;	
}

.nav-prevention {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
	
}

.nav-prevention:hover,
.nav-prevention--active {
	border-bottom: solid 3px @color-prevention;
	color: @color-font-primary;	
}

.nav-recherche {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-recherche:hover,
.nav-recherche--active {
	border-bottom: solid 3px @color-recherche;
	color: @color-font-primary;	
}

.nav-formation {
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	transition: color 300ms ease-in-out 0s;/*, border-bottom-color 300ms ease-in-out 0s;*/
	/*font-variant: small-caps;*/
}

.nav-formation:hover,
.nav-formation--active {
	border-bottom: solid 3px @color-formation;
	color: @color-font-primary;	
}