.membreAssociation-container {
	margin: auto;
	width: 520px;
	margin-top: 50px;
}

.membreAssociation {
	
}

.membreAssociation-titre {
    display: inline-block;
	width: 250px;
}

.membreAssociation-personne {
	margin-left: 20px;
}