body.quiSommesNous {
    background-color: white;
}

.quiSommesNous p {
    margin-bottom: 1.5em;
}

.quiSommesNous-container1 {  
    padding: 20px;
    background-color: #aaa;
    color: white;
}

.quiSommesNous-container2 {
    float: left;
    position: relative;
    left: 50%;
}

.quiSommesNous-header {
    float: left;
    position: relative;
    left: -50%;	
}

.quiSommesNous-body {    
    padding: 20px 25px;
}

.quiSommesNous-presentation {
	// width: 50%;
}

.membreAssociation-container {
	margin: auto;
	width: 520px;
	margin-top: 50px;
}

.membreAssociation {
	
}

.membreAssociation-titre {
    display: inline-block;
	width: 250px;
}

.membreAssociation-personne {
	margin-left: 20px;
}
// bug on menu if activate
// .quiSommesNous a {
//     color: @color-bodyHeader-dark;
// }