@media screen and (min-width: 800px) {
		
	.grid-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: -20px;
	}
	.grid-2 > div {
		flex: 0 0 auto;
		width: calc(50% - 20px); 
		margin-left: 20px;
	}
	
	.grid-2 > div:first-child {
	width: calc(100% - 20px); 
	}	
	
	.grid-axe {
	display: flex;
		flex-direction: row; 
	}
	
	.grid-axe > div {
		flex: 0 0 auto;
		width: 33.333%; 
	}

	.articleResume {
		border-top: 1px solid hsla(0, 0%, 0%, 0.3);
		border-left: 1px solid hsla(0, 0%, 0%, 0.3);
		border-right: 1px solid hsla(0, 0%, 0%, 0.3);
		margin-bottom: 20px;
	}	
	
	.grid-article {
		padding: 20px;
	}
}
/*
@media screen and (min-width: 940px) {
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}	
	
	.axePrevention-image,
	.axeRecherche-image,
	.axeFormation-image {
	    height: 100px !important;
	}		
}
*/