@media screen and (min-width: 480px) and (max-width: 599px) {
	.axePrevention,
	.axeRecherche,
	.axeFormation{
	    display: inline-block;
	    width: 33.333%;
	    height: 460px;
	}
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}
}

@media screen and (min-width: 600px) and (max-width: 659px) {
	.axePrevention,
	.axeRecherche,
	.axeFormation {
	    display: inline-block;
	    width: 33.333%;
		height: 410px;
	}
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}	
}

@media screen and (min-width: 660px) and (max-width: 699px) {
	.axePrevention,
	.axeRecherche,
	.axeFormation {
	    display: inline-block;
	    width: 33.333%;
		height: 365px;
	}
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}	
}

@media screen and (min-width: 700px) and (max-width: 939px) {
	.axePrevention,
	.axeRecherche,
	.axeFormation {
	    display: inline-block;
	    width: 33.333%;
	    height: 290px;
	}
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}	
}

@media screen and (min-width: 800px) {
	
	ul > li {
		/*display: inline-block;*/
	}	
}

@media screen and (min-width: 940px) {
	.axePrevention,
	.axeRecherche,
	.axeFormation {
	    display: inline-block;
	    width: 33.333%;
	    height: 270px;
	}
	
	.prevention .axePrevention,
	.recherche .axeRecherche,
	.formation .axeFormation{
	    display: block;
	    width: 100%;
	    height: inherit;
	}	
	
	.axePrevention-image,
	.axeRecherche-image,
	.axeFormation-image {
	    height: 100px !important;
	}	
}