<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{this.titre}}</title>
        <!-- build:css ../../src/css/combined.css -->
        <link rel="stylesheet" href="../../vendor/normalize.css">
        <link rel="stylesheet" href="../../vendor/base.css">
        <link rel="stylesheet" href="../../css/font.css">
        <link rel="stylesheet" href="../../css/icon.css">
        <link rel="stylesheet" href="../../css/app.css">
        <link rel="stylesheet" href="../../css/nav.css">
        <link rel="stylesheet" href="../../css/article.css">
        <link rel="stylesheet" href="../../css/article-detail.css">
        <link rel="stylesheet" href="../../css/formulaireContact.css">
        <link rel="stylesheet" href="../../css/apropos.css">
        <link rel="stylesheet" href="../../css/axe.css">    
        <link rel="stylesheet" href="../../css/grid.css">  
        <link rel="stylesheet" href="../../css/rwd.css">   
        <!-- endbuild -->
    </head>
    <body>