<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{this.titre}}</title>
        <!-- build:css ../../src/css/combined.css -->
        <link rel="stylesheet" href="../../src/vendor/normalize.css">
        <link rel="stylesheet" href="../../src/vendor/base.css">
        <link rel="stylesheet" href="../../src/css/index.css">     
        <link rel="stylesheet" href="../../src/css/font.css">
        <link rel="stylesheet" href="../../src/css/icon.css">
        <link rel="stylesheet" href="../../src/css/app.css">
        <link rel="stylesheet" href="../../src/css/nav.css">
        <link rel="stylesheet" href="../../src/css/article.css">
        <link rel="stylesheet" href="../../src/css/article-detail.css">
        <link rel="stylesheet" href="../../src/css/formulaireContact.css">
        <link rel="stylesheet" href="../../src/css/apropos.css">
        <link rel="stylesheet" href="../../src/css/axe.css">    
        <!-- endbuild -->    
    </head>
    <body>