<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{this.titre}}</title>
        <!-- build:css ../../src/css/combined.css -->
        <link rel="stylesheet" href="../../vendor/normalize.css" media="screen">
        <link rel="stylesheet" href="../../vendor/base.css" media="screen">
        <link rel="stylesheet" href="../../css/couleur.less">
        <link rel="stylesheet" href="../../css/font.less">
        <link rel="stylesheet" href="../../css/icon.less">
        <link rel="stylesheet" href="../../css/app.less">
        <link rel="stylesheet" href="../../css/nav.less">
        <link rel="stylesheet" href="../../css/nav-icon.less">
        <link rel="stylesheet" href="../../css/article.less">
        <link rel="stylesheet" href="../../css/article-detail.less">
        <link rel="stylesheet" href="../../css/formulaire-contact.less">
        <link rel="stylesheet" href="../../css/apropos.less">
        <link rel="stylesheet" href="../../css/axe.less">    
        <link rel="stylesheet" href="../../css/grid.less">  
        <link rel="stylesheet" href="../../css/rwd.less">
        <link rel="stylesheet" href="../../css/qui-sommes-nous.less">
        <link rel="stylesheet" href="../../css/footer.less">
        <link rel="stylesheet" href="../../css/utilities.less">
        <link rel="stylesheet" href="../../css/inscription-et-tarif.less">
        <link rel="stylesheet" href="../../css/print.css">
        <!-- endbuild -->
    </head>    