## Inscription et tarifs

DPC: 
    - la formation est gratuite et indemnisée 
    - Inscription sur le site [ogdpc](http://www.ogdpc.fr/)
    - N° de référence du programme : {{reference}}       
    - contrat de formation DPC (pdf)
    - contrat de formation DPC à retourner signé à l'adresse 
    - {{organisateur}}
    
Hors DPC:
    - Tarif adhérents "A Propos": {{hors-dpc-adherent}} 
    - Tarif non adhérents: {{hors-dpc-non-adherent}}
    - contrat de formation Hors DPC (pdf)
    - contrat de formation Hors DPC à retourner signé à l'adresse 
    - {{organisateur}}
        
Salarié:
    - Tarif adhérent: {{salarie-adherent}} 
    - Tarif non adhérent: {{salarie-non-adherent}}
    - convention de formation salarié (pdf)
    - contrat de formation salarié à retourner signé à l'adresse 
    - {{organisateur}}