<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>contrat formation dpc-hors-dpc</title>
    <link rel="stylesheet" href="../../../vendor/base.css">
    <link rel="stylesheet" href="../../../vendor/normalize.css">
    <link rel="stylesheet" href="../../../src/assets/documents/contrat.css">
</head>

<body>
    <header>
        <div class="logo-ogdpc">
            <img src="../../../src/assets/documents/logo-ogdpc-500.png" width="75" height="75" alt="logo-apropos">
            <div> ODPC habilité à dispenser</div>
            <div>des programmes de DPC</div>
        </div>
        <div class="logo-apropos-container">
            <img class="logo-apropos" src="../../../src/assets/documents/logo-apropos-500.png" width="125" height="125" alt="logo-apropos">
        </div>
        <div class="apropos-adresse">
            <div>A PROPOS</div>
            <div>3 allée du stade</div>
            <div>22680 Etables/Mer</div>
        </div>
        <div class="numero-prefecture">
            <div>Numéro de</div>
            <div>Déclaration d’activité</div>
            <div>enregistrée sous le</div>
            <div>n° 53 22 08381 22</div>
            <div>auprès de la Préfecture</div>
            <div> de la région Bretagne</div>
        </div>
    </header>
    <section>
        <h1>Contrat de Formation Professionnelle</h1>
        <p>Entre l'organisme de formation : <strong>" A PROPOS "</strong>, représenté par Hélène Le Roux ­‐ Présidente</p>
        <p>et le stagiaire <span class="font-secondary">(Nom, Prénom, Adresse)</span> : ......................................................................................................................................................
            est conclu un contrat de formation professionnelle en application des articles L.6353-3 à L.6353-7 du Code du
            travail.
        </p>
        <p>L’action de formation se définit comme une ou plusieurs journées consécutives de formation. Les durées et dates de
            l’action de formation sont précisées respectivement aux articles 2 et 4 du présent contrat.</p>
        <h2>Article 1 : Objet</h2>
        <p>En exécution du présent contrat, l'organisme de formation s'engage à organiser l'action de formation intitulée:</p>
        <p><strong>{{formation}}</strong>.</p>
        <h2>Article 2 : Nature et caractéristique des actions de formation</h2>
        <p>L'action de formation entre dans la catégorie des actions de formation prévues par l'article L.6313-1 du Code du
            travail : Action d’acquisition, d’entretien ou de perfectionnement des connaissances. Elle a pour objectif l'entretien
            et le perfectionnement des connaissances.</p>
        <p> A l'issue de la formation, une attestation de présence sera délivrée au stagiaire. Le suivi de la formation ne donne
            pas lieu à délivrance de diplôme, certificat ou de tout autre document la sanctionnant.</p>
        <p>Sa durée est fixée à <strong>{{duree}}</strong>. Le programme de l'action de formation, les noms et qualités du formateur
            figurent en annexe du présent contrat.</p>
        <h2>Article 3 : Niveau de connaissances préalables nécessaires</h2>
        <p>Afin de suivre au mieux l'action de formation susvisée et obtenir la ou les qualification(s) auxquelles elle prépare,
            le stagiaire est informé qu'il est nécessaire de posséder avant l'entrée en formation, le niveau de connaissances
            suivant : Certificat de capacité d'orthophonie.</p>
        <h2>Article 4 : Organisation de l'action de formation</h2>
        <p>L'action de formation en présentiel se déroulera comme suit :</p>
        <p>Dates: <strong>{{datePdf}}</strong></p>
        <p>Horaires: <strong>{{horaire}}</strong></p>
        <p>Lieu: <strong>{{lieu}}</strong></p>
        <p>L’action de formation est organisée pour un effectif de <strong>{{effectif}}</strong> stagiaires.</p>
        <p>Les moyens pédagogiques, techniques et d’encadrement mis en œuvre sont détaillés en annexe du présent contrat.</p>
        <p>{{#isDPC}} Le suivi de la formation sera évalué par un questionnaire de fin de formation à renseigner sur le site
            de l’OGDPC. {{/isDPC}}
        </p>
        <div class="keepTogether">
            <h2>Article 5 : Délai de rétractation</h2>
            <p>A compter de la date de signature du présent contrat, le stagiaire a un délai de 10 jours pour se rétracter.
                Il en informe l'organisme de formation par lettre recommandée avec accusé de réception. Dans ce cas, aucune
                somme ne peut être exigée du stagiaire.
            </p>
        </div>
        <h2>Article 6 : Dispositions financières</h2> {{#isDPC}}
        <p> Le prix de l'action de formation est fixé à 432 €. Le montant de sa prise en charge est assuré par l'OGDPC.</p>
        <p>Le stagiaire s’engage à joindre, pour faire face aux frais d’organisation et finaliser son inscription :</p>
        <ul>
            <li>
                <p>un chèque de 100€ à l’ordre d’A Propos, encaissé après le délai légal de rétraction de 10 jours à compter
                    de la signature du contrat (art. L900-2 du code du travail), somme qui lui sera restituée intégralement
                    après remboursement par l’OGDPC des frais d’organisation à l’organisme formateur,</p>
            </li>
            <li>
                <p>une enveloppe timbrée à son nom et adresse</p>
            </li>
        </ul>
        <p>Par la signature des présentes, le stagiaire certifie avoir été informé que le versement par l'OGDPC à l'organisme
            formateur est conditionné par sa participation à l'intégralité de ce parcours de DPC, y compris le questionnaire
            final qui est à renseigner sur le site de l'OGDPC et conditionne le paiement de la prestation.</p>
        <p>Dans le cas où il ne remplirait pas l'ensemble des conditions nécessaires au paiement par l'OGDPC à l'organisme formateur
            du montant correspondant à sa participation à ce parcours de DPC, le stagiaire s’engage à en régler lui-même
            le montant de l’action de formation à l'organisme formateur, au prorata de sa participation, sous huit jours
            à réception de la facture.</p>{{/isDPC}} {{#isHorsDPC}}
        <p>Le prix de l'action de formation est fixé à :</p>
        <p>300 € pour les non-adhérents « A Propos » ou 250€ pour les adhérents « A Propos » 2016, sur justificatif.</p>
        <p>Règlement en 2 chèques à l’ordre d’A Propos :</p>
        <ul>
            <li>Un acompte d'un montant de 50 € (encaissé après le délai de rétraction de 10 jours à compter de la date de la
                signature du présent contrat)</li>
            <li>Le solde (encaissé après le 2ème jour de formation) de 250€ pour les non-adhérents « A Propos » ou 200€ pour
                les adhérents « A Propos » 2016.
            </li>
        </ul>{{/isHorsDPC}}
        <h2>Article 7 : Renonciation, Interruption et annulation de l’action de formation</h2>
        <p>En cas de renonciation du stagiaire dans les 15 jours précédant la date de réalisation de l’action de formation,
            sauf cas de force majeure dûment reconnue, les frais d’organisation seront acquis à l'organisme de formation
            à titre de dédommagement.
        </p>
        <p>En cas de cessation anticipée de l’action de formation du fait de l'organisme de formation ou l'abandon du stage
            par le stagiaire pour un motif autre que la force majeure dûment reconnue, le présent contrat est résilié selon
            les modalités financières suivantes :</p>
        <ul>
            <li>Du fait de l’organisme de formation : remboursement au stagiaire de l’intégralité des sommes versées.</li>
            <li>Du fait du stagiaire : l’intégralité des sommes dues correspondant à l’action de formation entamée est conservée
                par l’organisme formateur.</li>
        </ul>
        <p>Si le stagiaire est empêché de suivre la formation par suite de force majeure dûment reconnue, le présent contrat
            est résilié.
        </p>
        <p>Dans ce cas, seules les prestations effectivement dispensées sont dues au prorata temporis de leur valeur prévue
            au présent contrat.
        </p>
        <h2>Article 8 : Cas de différend(s)</h2>
        <p>Si une contestation ou un différend n'ont pu être réglés à l'amiable, le Tribunal de la juridiction dont dépend l'organisme
            de formation sera seul compétent pour régler le litige.</p>
        <p>Le stagiaire reconnaît avoir pris connaissance du règlement intérieur.</p>
        <br><br><br><br>
        <footer>
            <div>Fait en double exemplaire, à Etables, le: <span>............................................................</span></div>
            <br>
            <br>
            <div class="signature-apprenant">Pour le stagiaire<span class="font-secondary"> (nom, prénom et signature)</span></div>
            <div class="signature-apropos">
                <div>Pour l'organisme de formation</div>
                <div> La présidente, Hélène Le Roux</div>
                <img src="../../../src/assets/images/signature-apropos.png" width="325px" alt="signature-apropos">
            </div>
        </footer>
    </section>
</body>

</html>