{{> header}}
{{> nav}}
<div class="formation">
    {{> axeFormation}}
</div>
<!--<h2>{{titre}}</h2>-->
<article>
    <ul>
        {{#each collections.posts}}
        {{#isAxeFormation}}
            <li>
                <div class="article">
                    <!--<div class="article-image"><img src="./img/150x150.gif" alt=""></div>-->
                    <a class="article-titre" href="/{{path}}">{{titre}}</a>
                    <div class="article-detail">
                        <span class="icon-calendar"></span>
                        <span class="article-date u-mlxs">{{dateAffichage}}</span>
           {{#if ville}}<span class="icon-location u-mlm"></span>
                        <span class="article-ville u-mlxs">{{ville}} ({{departement}})</span>{{/if}}
                    </div>
                    <div>
                        <div class="article-contenu">
                            <span class="article-resume ellipsis">{{&resume}}</span><span>...</span>
                            <div class="readMore">
                                <a href="/{{path}}">Lire l'article</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        {{/isAxeFormation}}
        {{/each}}
    </ul>
</article>
{{> footer}}