{{> header}}
{{> nav}}
{{> axe}}
<!--<h2>{{titre}}</h2>-->
<article class="accueil">
    <ul>
        {{#each collections.posts}}
            <li>
                <div class="article">
                    <!--<div class="article-image"><img src="./img/150x150.gif" alt=""></div>-->
                    <a class="article-titre" href="/{{path}}">{{titre}}</a>
                    <div class="article-detail">
                        <span class="icon-calendar"></span>
                        <span class="article-date u-mlxs">{{dateAffichage}}</span>
                        <span class="icon-location u-mlm"></span>
                        <span class="article-ville u-mlxs">{{ville}} ({{departement}})</span>
                    </div>
                    <div>
                        <div class="article-contenu">
                            <span class="article-resume ellipsis">{{&resume}}</span><span>...</span>
                            <div class="readMore">
                                <a href="/{{path}}">Lire l'article</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        {{/each}}
    </ul>
</article>
{{> footer}}