{{>header}}
<body id="js-{{axe}}" class="{{axe}} post" style="background-color:white">
<div class="wrapper">
    {{> nav}}
    {{#isAxePrevention}}{{> axePrevention}}{{/isAxePrevention}}
    {{#isAxeRecherche}}{{> axeRecherche}}{{/isAxeRecherche}}
    {{#isAxeFormation}}{{> axeFormation}}{{/isAxeFormation}}
    <article class="article-{{axe}} articleDetail">
        {{>articleInfo}}
        {{>photos}}
        {{&contents}}   
        {{>inscriptionTarif}}
        <h2>Documents annexes</h2>
        {{#isAxeFormation}}
        <p>
        <a href="../../assets/documents/reglement-interieur-formation-apropos.pdf"><span class="icon-pdf"></span><span class="pdf-descriptionFichier">réglement intérieur formation "a propos"</span></a>
        <div class="pdf-nomFichier">reglement-interieur-formation-apropos.pdf</div>
        </p>
        {{/isAxeFormation}} 
    </article>
    {{>footer}}