---
presidente: Hélène Le Roux
secretaire: Kristell Bourdin
secretaire-adjointe: Muriel Rio-Fiorina
tresoriere: Blandine Le Pape
membre-conseil-administration: 
    - Carole Le Gaillard
    - Amandine Lemiere
---
<body id="js-membre" class="membre">
<div>
	<div><span>Présidente</span><span>{{presidente}}</span>></div>
    <div><span>Secrétaire</span><span>{{secretaire}}</span>></div>
    <div><span>Secrétaire adjointe</span><span>{{secretaire}}</span>></div>
	</div><span>Trésorière</span><span>{{tresoriere}}</span></div>
    <div><span>Membres du conseil d'administration</span><span>{{membre-conseil-administration}}</span>></div>
</div>