{{> header}}
<body id="js-qui-sommes-nous" class="qui-sommes-nous">
{{> nav}}
<div class="membreAssociation-container">
	<div class="membreAssociation"><span class="membreAssociation-titre">Présidente</span><span class="membreAssociation-personne">{{presidente}}</span></div>
    <div class="membreAssociation"><span class="membreAssociation-titre">Secrétaire</span><span class="membreAssociation-personne">{{secretaire}}</span></div>
    <div class="membreAssociation"><span class="membreAssociation-titre">Secrétaire adjointe</span><span class="membreAssociation-personne">{{secretaire-adjointe}}</span></div>
	<div class="membreAssociation"><span class="membreAssociation-titre">Trésorière</span><span class="membreAssociation-personne">{{tresoriere}}</span></div>
    <div class="membreAssociation"><span class="membreAssociation-titre">Membres du conseil d'administration</span><span class="membreAssociation-personne">{{membre-conseil-administration}}</span></div>
</div>
{{> footer}}