<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../vendor/base.css">
    <link rel="stylesheet" href="../vendor/normalize.css">
    <link rel="stylesheet" href="../src/assets/documents/contrat.css">
    <style>
        p {
            margin-top: 8px;
            line-height: 1.4em;
        }
        
        .titre-info {
            font-size: 16px;
            font-weight: bold;
            font-variant: small-caps;
            font-style: italic;
        }
        
        .keepTogether > div {
            margin-left: 0;
        }
        
        footer {
            margin-top: 80px;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo-ogdpc">
            <img class="logo-apropos" src="../src/assets/documents/logo-apropos-500.png" width="75" height="75" alt="logo-apropos">
        </div>
        <div class="logo-apropos-container">
            <h1>Règlement intérieur</h1>
        </div>
        <div class="apropos-adresse">
            <div>A PROPOS</div>
            <div>3 allée du stade</div>
            <div>22680 Etables/Mer</div>
        </div>
    </header>
    <section>
        <h2>TITRE I: OBJET ET CHAMP D’APPLICATION</h2>
        <h3>Article 1 : Objet</h3>
        <p>Conformément aux dispositions de l’article L 920-5-1 du Code du travail, le présent règlement intérieur a pour objet
            de préciser l’application de la réglementation en matière d’hygiène et de sécurité, de déterminer les règles
            générales et permanentes relatives à la discipline et d’énoncer les dispositions relatives aux droits de la défense
            du stagiaire dans le cadre des procédures disciplinaires. </p>
        <h3>Article 2 : Champ d’application</h3>
        <p>Ce règlement s’applique à tous les stagiaires . Les dispositions du présent règlement sont applicables dans tout
            local ou espace accessoire (parcs, lieux de restauration...) occupé par A Propos que ce soit son siège social
            ou tout autre lieu loué par A Propos. Les stagiaires devront, en outre, respecter les mesures d’hygiène et de
            sécurité applicables dans les établissements où sont organisés les stages d’A Propos.</p>
        <h2>TITRE II : HYGIENE ET SECURITE</h2>
        <h3>Article 3 : Dispositions générales</h3>
        <p>En matière d’hygiène et de sécurité, chaque stagiaire doit se conformer strictement tant aux prescriptions générales
            qu’aux consignes particulières qui seront portées à sa connaissance par affiches, instructions, notes de services
            ou tout autre moyen.</p>
        <h3>Article 4 : Lieux de restauration </h3>
        <p>L’accès aux lieux de restauration n’est autorisé que pendant les heures fixées pour les repas. </p>
        <p>Il est interdit, sauf autorisation spéciale accordée par le responsable de l’établissement, de prendre ses repas
            dans les salles où se dérouleront les stages.</p>
        <h3>Article 5 : Règles relatives à la protection contre les accidents </h3>
        <p>Tout stagiaire est tenu d’utiliser tous les moyens de protection individuels et collectifs mis à sa disposition pour
            éviter les accidents et de respecter strictement les consignes particulières données à cet effet.</p>
        <h3>Article 6 : Règles relatives à la prévention des incendies</h3>
        <p>Tout stagiaire est tenu de respecter scrupuleusement les consignes relatives à la prévention des incendies.</p>
        <p>Il est interdit de fumer dans les salles où se déroulent les formations. Il est interdit d’utiliser des matières
            inflammables à l’intérieur et à proximité des locaux.</p>
        <h3>Article 7 : Obligation d’alerte</h3>
        <p>Tout stagiaire ayant constaté une défaillance ou anomalie dans les installations ou le fonctionnement des matériels
            est prié d’en informer l’animateur ou les responsables de l’établissement.
        </p>
        <p>Tout accident, même bénin, doit être immédiatement déclaré à A Propos par la victime ou les témoins.</p>

        <h2>Titre III : DISCIPLINE ET SANCTIONS</h2>
        <div class="titre-info">A - Obligations disciplinaires</div>
        <h3>Article 8 : Dispositions générales relatives à la discipline</h3>
        <p>Les stagiaires doivent adopter une tenue, un comportement et des attitudes qui respectent la liberté et la dignité
            de chacun.</p>
        <p>Tout manquement aux règles relatives à la discipline pourra donner lieu à l’application de l’une des sanctions prévues
            par le présent document.</p>
        <h3>Article 9 : Horaires de stage</h3>
        <p>Les stagiaires doivent respecter les horaires de stage fixés par l’animateur de formation.</p>

        <h3>Article 10 : Entrées, sorties et déplacements</h3>
        <p>Les stagiaires n’ont accès aux locaux de l’établissement que pour le déroulement des séances de formation.</p>
        <p>Il est interdit d’introduire dans les locaux des personnes étrangères au stage.</p>
        <div class="keepTogether">
            <h3>Article 11 : Usage du matériel</h3>
            <p>Le stagiaire est tenu de conserver en bon état, d’une façon générale, tout le matériel mis à sa disposition pendant
                le stage. Il ne doit pas utiliser ce matériel à d’autres fins que celles prévues pour le stage et notamment
                à des fins personnelles, sans autorisation.</p>
            <p>A la fin du stage, le stagiaire est tenu de restituer tout matériel et document en sa possession appartenant
                à A Propos.
            </p>
        </div>
        <h3>Article 12 : Enregistrements</h3>
        <p>Il est formellement interdit, sauf dérogation expresse de l’animateur de formation et d’un responsable d’ A Propos
            d’enregistrer ou de filmer les séances de formation.</p>
        <h3>Article 13 : Méthodes pédagogiques et documentation</h3>
        <p>Les méthodes pédagogiques et la documentation diffusées sont protégées au titre des droits d’auteur et ne peuvent
            être réutilisées autrement que pour un strict usage personnel ou diffusées par les stagiaires sans l’accord préalable
            et formel de son auteur et d’ A Propos.</p>
        <div class="titre-info">B - Sanctions et droits de la défense</div>
        <h3>Article 14 : Nature et échelle des sanctions</h3>
        <p>Tout manquement aux obligations disciplinaires sera considéré comme une faute par le Conseil d’administration d’
            A Propos et pourra, en fonction de sa nature et de sa gravité, faire l’objet d’un avertissement écrit, d’une
            exclusion temporaire ou définitive.</p>
        <p>L’exclusion du stagiaire ne pourra, en aucun cas, donner lieu au remboursement des frais réglés pour la formation.
        </p>
        <h3>Article 15 : Droits de la défense</h3>
        <p>Aucune sanction ne pourra être infligée à un stagiaire sans que celui-ci ait été informé au préalable des griefs
            retenus contre lui.</p>
        <p>Lorsque le comportement du stagiaire justifie une exclusion, le Conseil d’administration d’ a Propos ou son représentant
            convoque le stagiaire en lui indiquant l’objet de cette convocation. La convocation précise également la date,
            l’heure et le lieu de l’entretien.</p>
        <p>Elle est écrite et remise en main propre à l’intéressé contre décharge ou envoyée par lettre recommandée. Au cours
            de l’entretien, le stagiaire peut se faire assister par une personne de son choix. La convocation mentionnée
            ci- dessus fait état de cette faculté.</p>
        <p>Pendant l’entretien le Conseil d’administration d’ A Propos ou son représentant indique le motif de la sanction envisagée
            et recueille les explications du stagiaire.</p>
        <h3>Article 16 : Informations</h3>
        <ul>Le président d’ APropos informe de la sanction prise :
            <li>l’employeur, lorsque le stagiaire est un salarié bénéficiant d’un stage dans le cadre du plan de formation d’une
                entreprise </li>
            <li>l’employeur et l’organisme paritaire qui a pris à sa charge les dépenses de formation, lorsque le stagiaire est
                un salarié bénéficiant d’un stage dans le cadre d’un congé de formation.
            </li>
        </ul>
        <h3>Article 17 : Entrée en vigueur</h3>
        <p>Ce règlement entre en vigueur à compter de sa ratification par le Conseil d’administration d’ A Propos. Il sera à
            la disposition de toute personne s’inscrivant à un stage organisé par A Propos</p>
        <br>
        <footer>
            <div class="signature-apropos">
                <div>Fait à Etables, le 15 avril 2014</div>
            </div>
        </footer>
    </section>
</body>

</html>