html {
    font-family: 'font-regular';
    line-height: 1.4rem;
    color: hsla(0, 0%, 0%, .7);
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

a.readmore:hover{
    text-decoration: none;
}

a.readMore:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-width: 0 0 1px;
    border-style: solid;
}

.clear {
    clear: both;
}