/* --------------------------------------------------------
    $ARTICLE
   ------------------------------------------------------*/
.articleResume,
.membreBureau {
    border-bottom: solid 1px hsl(0,0%,70%);
    background-color: hsl(0,0%,100%);    
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    /*margin-top: 25px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;    */
/*    cursor: pointer;*/
}

.articleResume-titre,
.membreBureau-fonction{
    font-size: 22px;
    color: hsl(0,0%,25%);
    line-height: 1.1;
}

.articleResume-date,
.articleResume,
..articleResume-lieu{
    font-size: 14px;
    color: hsl(0, 0%, 55%);
}

.articleResume-contenu {
    margin-top: 10px;
    position: relative;
}

/*.article-resume {
    color: hsl(0,0%,30%);
    margin-top: 10px;
}*/

.articleResume-date {
    display: inline-block;
}

.articleResume-lieu {
    display: inline-block;
}

.ellipsis {
/*  white-space: nowrap;*/
  text-overflow: ellipsis;
  overflow: hidden;
}


.articleResume-lien {
    color: #3498db;
    bottom: 0;
    float: right;
    margin-right: 50px;
}

.articleResume-lien-logo {
    color: #3498db;
    margin-top: 2px;
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}
.clear {
    clear: both;
}

.u-mlxs {
    margin-left: 5px;
}

.u-mls {
    margin-left: 10px;
}

.u-mlm {
    margin-left: 20px;
}

.readMore {
    border: 2px solid;
    float: right;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.readMore:hover {
    background-color: #f2f2f2;
}