.articleDetail {
    background-color: hsl(0,0%,100%);    
    padding: 20px 25px;
}

.articleDetail h2 {
    margin-top: 30px;
    font-size: 1.3em;
}

.articleDetail h3 {
    margin-top: 15px;
}

.articleDetail p {
    margin-top: 15px;
}

.articleDetail ul {
    margin-left: 10px;
}

.prevention a,
.prevention h1,
.prevention h2,
.prevention h3,
.prevention h4,
.prevention h5 {
    color: hsl(201, 40%, 56%);
}

.recherche a,
.recherche h1,
.recherche h2,
.recherche h3,
.recherche h4,
.recherche h5 {
    color: hsl(260, 31%, 62%);
}

.formation a,
.formation h1,
.formation h2,
.formation h3,
.formation h4,
.formation h5 {
    color: hsl(335, 78%, 58%);
}