/* --------------------------------------------------------
    $ARTICLE
   ------------------------------------------------------*/
.articleResume,
.membreBureau {
    border-bottom: solid 1px hsla(0,0%,0%, 0.3);
    background-color: hsl(0,0%,100%);    
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    /*margin-top: 25px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;    */
/*    cursor: pointer;*/
}

.article-titre,
.membreBureau-fonction{
    font-size: 21px;    
    line-height: 1.1;
}

.article-info {
    font-size: .9rem;
    color: hsla(0,0%,0%, 0.5);
}
/*
.article-date,
.article,
.article-lieu{
    font-size: 14px;
    color: hsl(0, 0%, 55%);
}
*/
.article-contenu {
    margin-top: 10px;
    position: relative;
}

.article-date {
    display: inline-block;
}

.article-lieu {
    display: inline-block;
}

.ellipsis {
/*  white-space: nowrap;*/
  text-overflow: ellipsis;
  overflow: hidden;
}


.article-lien {
    color: #3498db;
    bottom: 0;
    float: right;
    margin-right: 50px;
}

.article-lien-logo {
    color: #3498db;
    margin-top: 2px;
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}
.clear {
    clear: both;
}

.u-mlxs {
    margin-left: 5px;
}

.u-mls {
    margin-left: 10px;
}

.u-mlm {
    margin-left: 20px;
}

.readMore {
    float: right;
    margin-top: 10px;
    font-size: .9em;
}

.readMore:hover {
}