html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.formulaireContact{
    display: table;
    margin: 0 auto;
}

.formulaireContact label,
.formulaireContact input[type="text"],
textarea {
    display: block;
    width: 500px;
}

.formulaireContact input[type="text"],
.formulaireContact input[type="submit"],
textarea {
    border: solid 1px lightgray;
}

.formulaireContact label,
.formulaireContact input[type="submit"]{
    margin-top: 20px;
    padding: 5px;
}

.formulaireContact input[type="submit"]{
    padding: 10px 15px;
    border: solid 1px hsl(0, 0%, 70%);
    background-color: hsl(0, 0%,90%);
}

.formulaireContact input[type="text"],
textarea{
    padding: 10px;
}

.formulaireContact input[type="text"]:focus,
textarea:focus {
    border-left: 3px solid hsl(0,0%,83%);
}

.formulaireContact-bouton {
    float: right;    
}