.nav {
	text-align: center;
	background-color: white;
	border-bottom: solid 3px hsl(0, 0%, 70%);
	line-height: 3.5rem;
	color: hsl(0, 0%, 70%)
}

.nav>li {
	display: inline-block;
	width: 24%;
}

.nav-accueil {
	padding-bottom: 5px;
}

.nav-accueil--active {
	border-bottom: solid 3px hsl(0, 0%, 20%);
	color: hsl(0, 0%, 20%);	
}

.nav-prevention {
	padding-bottom: 5px;
	/*font-variant: small-caps;*/
}

.nav-prevention--active {
	border-bottom: solid 3px #85B2CA;
	color: hsl(0, 0%, 20%);	
}

.nav-recherche {
	padding-bottom: 5px;
	/*font-variant: small-caps;*/
}

.nav-recherche--active {
	border-bottom: solid 3px #B0A1CD;
	color: hsl(0, 0%, 20%);	
}

.nav-formation {
	padding-bottom: 5px;
	/*font-variant: small-caps;*/
}

.nav-formation--active {
	border-bottom: solid 3px #ED6DA2;
	color: hsl(0, 0%, 20%);	
}